name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl: ['5.36', '5.38', '5.40', '5.42']
    steps:
      - uses: actions/checkout@v4

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: default
          enable-modules-cache: true

      - name: Install dependencies
        run: |
          cpanm --notest --quiet --installdeps .

      - name: Run tests
        run: |
          perl Makefile.PL
          make test
